@font-face {
  font-family: "RistrettoPro-Regular";
  src: url('fonts/font.woff2') format('woff2'), url('fonts/font.woff') format('woff');
}

@font-face {
  font-family: 'URW DIN Arabic Cond';
  src: url('fonts/URWDINArabicCond-Black.woff2') format('woff2'),
    url('fonts/URWDINArabicCond-Black.woff') format('woff');
}

@font-face {
  font-family: 'Neusa';
  src: url('fonts/Neusa-SemiBold.woff2') format('woff2'),
    url('fonts/Neusa-SemiBold.woff') format('woff');
}

@font-face {
  font-family: "Akrobat";
  src: url("./fonts/Akrobat-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Bold";
  src: url("./fonts/Akrobat-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Light";
  src: url("./fonts/Akrobat-Light.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Semibold";
  src: url("./fonts/Akrobat-SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Akrobat Extrabold";
  src: url("./fonts/Akrobat-ExtraBold.otf") format("truetype");
}





* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Akrobat Bold";
}

body {
  height: 100vh;

  overflow: hidden;
  /*background: url(images/logo.png), linear-gradient(5.9deg, rgba(252, 215, 8, 0.556) 0%, rgba(202, 24, 24, 0) 36.02%, rgba(26, 25, 25, 0.9) 84.1%, rgba(26, 25, 25, 0.9) 100%, rgba(128, 128, 128, 1) 100%)rgba(26, 25, 25, 0.7);
  background-repeat: no-repeat;
  background-size: 13vw, 100%;
  background-position: 70vw 5vh, center center;*/

  margin: 0px;
  width: 100%;
}

#body {
  background: linear-gradient(-10deg, rgba(0, 0, 0, 0.521) 13%, rgba(202, 24, 24, 0) 36.02%, rgba(26, 25, 25, 0.9) 84.1%, rgba(26, 25, 25, 0.9) 100%, rgba(128, 128, 128, 1) 100%)rgba(26, 25, 25, 0.7);
  width: 100%;
  height: 100%;
  margin: 0px;
  display: none;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  background-color: rgb(19, 18, 18);
  border-radius: 1vw;
  width: 30vw;
  height: 99vh;
}

.layout header {
  position: fixed;
  height: 7vh;
}

.layout .icon {
  width: 5vw;
  height: 100%;
  text-align: center;
  color: white;
  line-height: 11vh;
  font-size: 2.1vw;
  vertical-align: bottom;
  display: inline-block;
}

.layout .line {
  vertical-align: bottom;
  display: inline-block;
  position: absolute;
  border: 1px solid rgba(128, 128, 128, 0.308);
  height: 80%;
  margin-top: 3vh;
}

.layout .user-data {
  vertical-align: bottom;
  display: inline-block;
  width: 17vw;
  margin-left: 1vw;
  height: 80%;
  position: relative;
  top: 1.9vh;
  color: white;
  font-size: 1.2vw;
  line-height: 2vh;
}

.layout .user-data span {
  color: rgb(165, 165, 165);
  font-size: 0.8vw;
}

.layout .log-status {
  display: flex;
  vertical-align: bottom;
  width: 6.4vw;
  position: relative;
  top: -4vh;
  height: 100%;
  text-align: center;
  color: white;
  width: 124%;
  align-items: center;
}

.log-status .profile-image {
  border: 3px solid rgb(85, 85, 85);
  height: 2.4vw;
  width: 2.4vw;
  border-radius: 2vw;
  margin-left: 2vw;
  margin-top: 1.3vh;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
  background-size: 170% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.log-status i {
  font-size: 2vw;
  line-height: 10vh;
  margin-left: auto;
}

.layout #posts {
  height: 20vw;
  margin-top: 13vh;
  border-radius: 4vw;
  height: 80vh;
  background-color: rgb(11, 11, 11);
  overflow-y: scroll;
  overflow-x: hidden;
}

.layout #posts .post {
  height: 40vh;
  margin-top: 2vh;
  width: 85%;
  margin-left: 7%;
  margin-right: 7%;
  position: relative;
  top: 2vh;
  border-radius: 3vw;
  background-color: rgb(24, 24, 24)
}

.layout .media-btns {
  height: 5.3vh;
}

.media-btns button {
  background-color: transparent;
  border: 2px solid gray;
  font-size: 1vw;
  color: white;
  margin-top: 1vh;
  height: 4vh;
  width: 3vw;
  font-size: 1.5vw;
  line-height: 3.6vh;
  border-radius: 2vw;
}

.media-btns button:hover {
  cursor: pointer;
}

#posts .post .header {
  width: 23vw;
  margin-top: 1vh;
  border-radius: 2vw;
  height: 5vh;
  position: relative;
  top: 1vh;
  margin-left: 1vw;
}

#posts .post .header div {
  display: inline-block;
  vertical-align: bottom;
}

#posts .post .header .profile-img {
  border: 2px solid gray;
  width: 2vw;
  height: 2vw;
  margin-left: 1vw;
  border-radius: 2vw;
  position: relative;
  top: 1vh;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
  background-size: 150% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

#posts .post .header .profile-name {
  color: rgb(168, 168, 168);
  font-size: 1vw;
  margin-left: 0.5vw;
}

#posts .post .content {
  height: 19vh;
  margin-top: 3vh;
}

#posts .post .content .post-image {
  width: 18vw;
  height: 18vh;
  margin-top: 0vh;
  border-radius: 1.3vw;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034823354047287346/updates_yt.png);
  background-position: center center !important;
  background-size: 130% !important;
}

#posts .post .content .post-image .post-likes {
  background-color: rgb(24, 24, 24);
  display: inline-block;
  border-radius: 1vw;
  color: rgb(141, 141, 141);
  font-size: 1.3vw;
  padding: 1vh 0.5vw;
  position: relative;
  top: 14vh;
  left: 2vw;
  line-height: 0vh;
  letter-spacing: 0.1vw;
  text-align: center;
}

#posts .post .post-text {
  color: white;
  width: 70%;
  margin-left: 14%;
  height: 4vh;
  margin-top: 1vh;
  text-align: left;
}


#posts .post .content .post-image #liked.post-likes i {
  color: rgb(156, 26, 26);
}

#posts .post .content .post-image .post-likes i {
  color: gray
}

#posts .post .content .post-image .post-likes i:hover {
  cursor: pointer;
}


#posts .post .content .post-comment {
  height: 4vh;
  width: 16vw;
  border-radius: 2vw;
  margin-top: 3.3vh;
  text-align: center;
  line-height: 4vh;
  font-size: 1vw;
  background-color: rgb(11, 11, 11);
  color: white;
  transition: ease-in-out 0.5s;
}

#posts .post .content .post-comment:hover {
  cursor: pointer;
  background-color: rgb(24, 24, 24);
  color: rgb(165, 165, 165);
}

#posts .post .content .post-btns button#liked {
  color: red;
}

::-webkit-scrollbar {
  width: 0.1vw;
  border-radius: 50px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.popup {
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0);
  backdrop-filter: blur(0.2vw);
}

.popup .login-container {
  margin-top: 15vh;
  height: 70vh;
  margin-left: 32.5%;
  background-color: rgb(11, 11, 11);
  width: 35vw;
  border-radius: 2vw;
}

.half-div-second,
.half-div {
  vertical-align: bottom;
  display: inline-block;
}

.popup .login-container .half-div {
  height: 10vh;
  width: 40%;
  height: 100%;
  background: url(images/bg.png);
  background-position: center center;
  border-radius: 2vw 0vw 0vw 2vw;
}

.half-div-second {
  height: 100%;
  width: 59%;
  border-radius: 2vw;
}

.half-div-second .title {
  color: white;
  margin-top: 5vh;
  font-size: 1.4vw;
}

.half-div-second .inputs {
  width: 15vw;
  margin-top: 5vh;
  height: 50vh;
  border-radius: 3vw;
  background-color: rgb(15, 15, 15);
  ;
}

.pseudo-inputs {
  margin-top: 7vh;
}

.inputs .input {
  margin-left: 2.7vw;
  width: 9vw;
  margin-top: 5vh;
}

.input {
  border: 2px solid rgb(85, 85, 85);
  background: transparent;
  outline: none;
  height: 2vh;
  font-size: 1vw;
  border-radius: 1.5vw;
  text-align: center;
  color: white;
}

.popup .btns {
  height: 20vh;
  margin-top: 5vh;
}

.popup .btns .btn {
  width: 10vw;
  border-radius: 0.5vw;
  height: 4vh;
  background: rgb(41, 41, 41);
  text-align: center;
  color: white;
  line-height: 4vh;
}

.popup .btns .btn:hover {
  cursor: pointer;
}

.btns .or-text {
  color: white;
  text-align: center;
  margin-top: 1.5vh;
  font-size: 1vw;
}

.btns .or-text::before,
.btns .or-text::after {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid white;
  width: 4.5vw;
  height: 0vh;
  margin-left: 1vw;
  margin-right: 1vw;
  position: relative;
  top: -0.8vh;
}

.btn-signup {
  margin-top: 2.5vh;
}

.inputs .decor-text {
  color: white;
  text-align: center;
  position: relative;
  top: 4vh;
  font-size: 1vw;
}

.notification {
  position: absolute;
  top: 0.2vh;
  border-radius: 0vw 0vw 2vw 2vw;
  margin-left: 35vw;
  width: 30vw;
  background-color: rgb(11, 11, 11);
  animation: slideInDown;
  animation-duration: 1s;
}

.notification .icon {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: 5vw;
  text-align: center;
}

.notification .icon i {
  color: white;
  font-size: 2.5vw;
  line-height: 10vh;
}

.notification .text-wrap {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: 80%;
}

.notification .text-wrap .title {
  color: white;
  font-size: 1.1vw;
  margin-top: 2.5vh;
}

.notification .text-wrap .notification-text {
  color: rgb(85, 85, 85);
  height: 4vh;
}

.popup .comment-container {
  width: 30vw;
  margin-left: 35vw;
  height: 60vh;
  margin-top: 13vh;
  border-radius: 2vw;
  background-color: rgb(20, 20, 20);
  animation: fadeInDown;
  animation-duration: 1s;
}

.comment-container .comments {
  position: relative;
  top: 2vh;
  height: 50.4vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comment-container .comment {
  border-radius: 2vw;
  height: 6vh;
  margin-top: 1.5vh;
}

.comment-container .comment .profile-image {
  border: 2px solid gray;
  width: 3vw;
  height: 3vw;
  margin-left: 1vw;
  border-radius: 2vw;
  background-position: center center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
}

.comment-container .comment div {
  display: inline-block;
  vertical-align: bottom;
}

.comment-container .comment .profile-name {
  height: 100%;
  color: white;
  font-family: 'Akrobat Extrabold';
  line-height: 3vh;
  font-size: 1vw;
  margin-left: 1vw;
}

.comment-container .comment .profile-name span {
  color: rgb(141, 141, 141);
  font-size: 0.7vw;
  margin-left: 1vw;
}

.comment-container .comment .profile-comment {
  height: fit-content;
  width: 23vw;
  color: gray;
  position: relative;
  left: 5.3vw;
  top: -2vh;
}

.comment-container .create-coment {
  margin-top: 3vh;
  border-top: 1px solid rgba(128, 128, 128, 0.26);
  height: 6vh;
  border-radius: 0vw 0vw 1vw 1vw;
}

.comment-container .create-coment .pseudo-input {
  height: 5.5vh;
  background-color: rgba(0, 0, 0, 0.13);
  border-radius: 2vw;
  width: 25vw;
  margin-left: 2.4vw;
  margin-top: 0.6vh;
}

.comment-container .create-coment .pseudo-input input {
  background-color: transparent;
  position: relative;
  top: 0vh;
  height: 3vh;
  width: 85%;
  margin-left: 1vw;
  outline: none;
  font-size: 1vw;
  color: white;
}

.comment-container .create-coment .pseudo-input i {
  color: white;
  font-size: 1.3vw;
  line-height: 5.5vh;
  margin-left: 0.5vw;
}

input {
  border: 0;
  outline: 0;
}

input:focus {
  outline: none !important;
}

.game-notification {
  position: absolute;
  top: 0vh;
  width: 15vw;
  margin-top: 70vh;
  height: 25vh;
  margin-left: 75vw;
  border-radius: 1vw;
  background-color: rgb(19, 18, 18);
}

.game-notification .icon {
  border: 2px solid gray;
  display: inline-block;
  vertical-align: bottom;
  width: 2.3vw;
  height: 2.3vw;
  border-radius: 2vw;
  margin-top: 2vh;
  margin-left: 1vw;
  background-position: center center !important;
  background-size: 150% !important;
  background-repeat: no-repeat !important;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
}

.game-notification .name {
  color: rgb(168, 168, 168);
  display: inline-block;
  vertical-align: bottom;
  height: 4vh;
  font-size: 1vw;
  margin-left: 0.5vw;
  position: relative;
  top: -1vh;
}

.game-notification .text {
  color: white;
  width: 10vw;
  position: relative;
  margin-left: 4.2vw;
  top: -2.5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8vw;
}

.game-notification .image {
  height: 14vh;
  border-radius: 1.5vw;
  width: 13vw;
  margin-left: 0.9vw;
  position: relative;
  top: -0.5vh;
  border: 2px solid gray;
  box-shadow: 0px 0px 2vw black;
  background: url(https://cdn.discordapp.com/attachments/973465534983200801/1033070275991973928/screenshot.jpg);
  background-position: center center !important;
  background-size: 180% !important;
}

.popup#post-page .container {
  width: 33vw;
  height: 65vh;
  background-color: rgb(24, 24, 24);
  border-radius: 2vw;
  margin-top: 13vh;
}

.popup#post-page header {
  text-align: center;
  color: white;
  font-size: 2vw;
  line-height: 13vh;
}

.popup#post-page .content {
  width: 30vw;
  height: 40vh;
}

.popup#post-page .content .header input {
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.671);
  margin-top: 2vh;
  width: 15vw;
  height: 3vh;
  display: inline-block;
  vertical-align: bottom;
  border-radius: 2vw 0vw 0vw 2vw;
  font-size: 0.8vw;
  color: white;
  transition: ease-in-out 0.5s;
}

.popup#post-page .content .header input:hover {
  border-color: white;
  cursor: pointer;
}

.popup#post-page .content .header .button {
  display: inline-block;
  vertical-align: bottom;
  background: transparent;
  border: 1px solid rgba(128, 128, 128, 0.671);
  height: 3.2vh;
  width: 3vw;
  margin-top: 2vh;
  border-left: none;
  border-radius: 0vw 2vw 2vw 0vw;
  color: gray;
  text-align: center;
  font-size: 1.2vw;
  line-height: 3.2vh;
  transition: ease-in-out 0.5s;
}

.popup#post-page .content .header .button i {
  transition: ease-in-out 0.5s;
}

.popup#post-page .content .header .button:hover i {
  transform: scale(1.1);
  cursor: pointer;
  color: white;
}

.popup#post-page .content .image {
  border: 2px solid gray;
  margin-top: 5vh;
  height: 20vh;
  width: 20vw;
  border-radius: 2vw;
  background-position: center center !important;
  background-size: 135% !important;
}

.popup#post-page .input-container {
  height: 10vh;
  margin-top: 5vh;
}

.popup#post-page .input-container input {
  border: 1px solid gray;
  background: transparent;
  border-radius: 2vw;
  height: 3vh;
  margin-top: 2vh;
  margin-left: 1vw;
  width: 26vw;
  font-size: 0.8vw;
  color: white;
}

.popup#post-page .input-container button {
  color: gray;
  background: transparent;
  border: 1px solid;
  border-radius: 2vw;
  height: 3.2vh;
  width: 2.5vw;
  font-size: 1.2vw;
  margin-left: 1vw;
  position: relative;
  top: 0.3vh;
}

.popup#post-page .input-container button:hover {
  cursor: pointer;
}

#set-profile-btn {
  background-color: transparent;
  border: 2px solid gray;
  position: relative;
  top: 2vh;
  border-radius: 2vw;
  width: 8vw;
  height: 3vh;
  color: white;
  font-size: 0.8vw;
  transition: ease-in-out 0.5s;
}

#set-profile-btn:hover {
  cursor: pointer;
  transform: scale(0.9);
}

#messages-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#messages-page .messages-container{
  width: 30vw;
  height: 80vh;
  background-color: rgb(24, 24, 24);
  border-radius: 2vw;
  overflow: hidden;
}

#messages-page .messages-container header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  border-radius: 2vw 2vw 0vw 0vw;
}

#messages-page .messages-container header .input-container{
  display: flex;
  align-items: center;
  width: 85%;
  height: 3vh;
  margin-top: 1vh;
  border-radius: 0.5vw 0.5vw 0.7vw 0.7vw;
  background-color: rgba(40, 40, 40, 1);
}

#messages-page .messages-container header .input-container input{
  width: 80%;
  height: 3vh;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 0.8vw;
  padding-left: 1vw;
}

#messages-page .messages-container header .input-container i{
  color: gray;
  font-size: 0.7vw;
  margin-left: 1vw;
  transition: ease-in-out 0.5s;
}

#messages-page .messages-container main{
  height: 65vh;
}

#messages-page .messages-container main .title{
  color: white;
  font-size: 1.2vw;
  margin-top: 1vh;
  margin-left: 1vw;
}

#messages-page .messages-container main .profiles-list{
  height: 62vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1vh
}

#messages-page .messages-container main .profile{
  display: flex;
  align-items: center !important;
  margin-top: 1vh !important;
  margin-left: 1vw !important;
  width: 94% !important;
  gap: 1vw !important;
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
  border-radius: 0.5vw !important;
  background-color: transparent !important;
  height: fit-content !important;
  align-items: center !important;
}

#messages-page .messages-container main .profile .dot{
  width: 0.5vw !important;
  height: 0.5vw !important;
  border-radius: 50% !important;
  background-color: rgb(0, 132, 255) !important;
}

#messages-page .messages-container main .profile .profile-image{
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 50% !important;
  background-position: center center !important;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
}

#messages-page .messages-container main .profile .profile-info{
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  flex: 0.95 !important;
  height: fit-content !important;
  background-color: transparent !important;
}

#messages-page .messages-container main .profile:hover{
  cursor: pointer;
  background-color: rgba(40, 40, 40, 1);
}

#messages-page .messages-container main .profile .profile-info .profile-name{
  color: white;
  font-size: 1vw;
}

#messages-page .messages-container main .profile .profile-info .profile-status{
  color: gray;
  font-size: 0.8vw;
}

#messages-page .messages-container .profile-info{
  display: flex;
  align-items: center;
  height: 9vh;
  border-radius: 2vw 2vw 0vw 0vw;
  background-color: rgb(39, 39, 39);
}

#messages-page .messages-container .profile-info .img{
  border: 3px solid rgb(85, 85, 85);
  height: 2.4vw;
  width: 2.4vw;
  border-radius: 2vw;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
  background-size: 170% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  margin-left: 1vw;
}

#messages-page .messages-container .profile-info .name{
  color: white;
  font-size: 1.2vw;
  margin-left: 0.5vw;
}

#messages-page .messages-container .profile-info i {
  color: white;
  margin-left: auto;
  margin-right: 1vw;
  font-size: 1.5vw;
}

#messages-page .messages-container .messages-list{
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0vw 0vw 2vw 2vw;

  display: flex;
  flex-direction: column;
}

#messages-page .messages-container .messages-list .message{
  display: flex;
  margin-top: 1vh;
  width: fit-content;
  max-width: 80%;
  padding: 0vh 0.5vw;
}

#messages-page .messages-container .messages-list .message .profile-img{
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 50%;
  background-position: center center !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background: url(https://cdn.discordapp.com/attachments/997482194278809645/1034814876863963247/Symbol.png);
}

#messages-page .messages-container .messages-list .message .message-text{
  background-color: rgb(39, 39, 39);
  height: fit-content;
  width: fit-content;
  padding: 1vh 1vw;
  border-radius: 2vw;
  color: white;
  font-size: 0.8vw;
  font-family: 'Akrobat Semibold';
  text-shadow: 0px 0px 1vw black;
}

#messages-page .messages-container .messages-list .message.mine{
  flex-direction: row-reverse !important;
  align-self: flex-end !important;
}

#messages-page .messages-container .messages-list .message.mine .profile-img{
  display: none;
}

#messages-page .messages-container .messages-list .message.mine .message-text{
  background-color: rgb(0, 132, 255);
}

#messages-page .messages-container .message-input{
  margin-top: auto;
  height: 5.5vh;
  border-radius: 0vw 0vw 2vw 2vw;
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
}

#messages-page .messages-container .message-input input{
  width: 85%;
  height: 3vh;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 0.8vw;
  padding-left: 1vw;
}

#messages-page .messages-container .message-input i{
  color: gray;
  font-size: 0.7vw;
  margin-left: 1vw;
  transition: ease-in-out 0.5s;
}
