@font-face {
	font-family: bankgothic;
	src: url('../fonts/bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../fonts/pdown.ttf');
}

.menu {
	font-family: Arial;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 50px 0px #000;
	overflow-y: auto;
	max-height: 72.5%;
}

.menu button {
	font-family: Arial;
	background: url('../texture.png'), #252525;
	color:#fff;
	border:2px solid #505050;
	padding:10px 15px;
	cursor:pointer;

}

.menu button:hover {

	background: url('../texture.png'), #353535;
	color:#fff;
	border:2px solid #ff1f1f;
	cursor:pointer;
}

.menu button:focus {
	outline:0
}

.menu>table {
	border: 1px transparent;
	border-spacing: 0;
	min-width: 400px;
	background-color: #252525;
	border-collapse: collapse;
}

.menu>table>thead td {
	background: url('../texture.png'), #252525;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #ff3535;
	text-shadow:0 0 20px #a20000;
	border-bottom:2px solid #ff1f1f;
}

.menu td {
	text-align: center;
	padding: 8px;
	min-width:150px;
	/* background:#404040; */
	color:#e4e4e4;
	border-bottom: 1px solid #454545;
	border-left: 1px solid #353535;
}


.menu tbody tr:nth-child(even) {
	background: #303030;
}

.menu tbody tr:nth-child(even):hover {
	border-bottom:2px solid #ff1f1f!important;
	border-top:2px solid #ff1f1f!important;
	background:#202020;
	box-shadow:inset 0 0 15px #ff1f1f
}

.menu tbody tr:nth-child(odd) {
	background: #252525;
}

.menu tbody tr:nth-child(odd):hover {
	border-bottom:2px solid #ff1f1f!important;
	border-top:2px solid #ff1f1f!important;
	background:#202020;
	box-shadow:inset 0 0 15px #ff1f1f
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(255, 31, 31);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #252525; 
}