
@font-face {
    font-family: "Bebas Nue";
    src: url("./fonts/BebasNeuePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bebas Nue";
    src: url("./fonts/BebasNeuePro-Thin.ttf") format("truetype");
	font-weight: 100;
}

@font-face {
    font-family: "Bebas Nue";
    src: url("./fonts/BebasNeuePro-Light.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
    font-family: "Bebas Nue";
    src: url("./fonts/BebasNeuePro-Middle.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
    font-family: "Bebas Nue";
    src: url("./fonts/BebasNeuePro-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
    font-family: "Bebas Nue";
    src: url("./fonts/BebasNeuePro-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "SignPainter";
    src: url("./fonts/SignPainter.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: 'Myriad Pro Cond';
    font-style: normal;
    font-weight: 400;
    src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-COND.woff') format('woff');
}

html {
	font-family:Bebas Nue;
	background:transparent;
	height: 100%;
}

body {
	/* background:  url('https://i.imgur.com/S4N7ZjQ.png') bottom center no-repeat; */
	background: transparent;
    font-family: 'Bebas Nue', 'Myriad Pro Cond';
	background-size:cover;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index:9999;
	overflow:hidden;
}


#wrap {
	display: none;
    position: absolute;
	font-family: 'Bebas Nue', 'Myriad Pro Cond';
	overflow: auto;
	width: 100%;
	height:100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#settings-menu::-webkit-resizer {
    background: url('https://media.discordapp.net/attachments/1021763363367293052/1034844674944417852/icon-resizer.png');
}

#settings-menu {
	background:rgba(26,28,30,1);
	top:50%;
	left:2vw;
    width:15vw;
	height:28vw;
	position:absolute;
	border-radius:0.5vw;
	animation:fadeIn 0.5s 1;
	box-shadow:0 0 3vw rgba(0,0,0,0.8);
	resize: both;
	overflow: hidden;
}

#settings-title {
	background:url('../images/texture.png') center center, rgba(255,255,255,0.05);
	width:100%;
	height:4vw;
	text-align:center;
	line-height:4vw;
	font-size:1vw;
	color:rgba(255,255,255,1);
	border-top-right-radius:0.5vw;
	border-top-left-radius:0.5vw;
	margin-bottom:1vw;
	position:relative;
	border-bottom:1px solid rgba(255,50,50,1);
	cursor:move;
}

#settings-title .fa-claw-marks {
	color:rgba(255,70,70,1);
	text-shadow:0 0 1vw rgba(255,50,50,1);
	margin-right:0.5vw;
}

.btn-close {
	width:1vw;
	height:1vw;
	text-align:center;
	line-height:1vw;
	font-size:0.45vw;
	background:rgba(225,20,20,1);
	position:absolute;
	top:0.3vw;
	right:0.3vw;
	border:none;
	outline:none;
	border-radius:50%;
	color:rgba(255,255,255,1);
	cursor:pointer;
	transition:0.3s;
}

.btn-close:hover {
	background:rgba(255,60,60,1);
	box-shadow:0 0 1vw rgba(255,50,50,1);
}

.setting-item {
	background:rgba(255,255,255,0);
	width:90%;
	position: relative;
	display: inline-block;
	color:rgba(255,255,255,0.8);
	font-size:0.7vw;
	border-radius:0.5vw;
	margin:1.5% 5%;
}

.setting-item i {
	width:2.5vw;
	height:2.5vw;
	line-height:2.5vw;
	text-align:center;
	background:rgba(255,255,255,0.05);
	border-radius:0.5vw;
	color:rgba(255,255,255,0.5);
	float:left;
	margin-right:0.2vw;
	font-size:0.9vw;
	transition:0.3s;
}

.setting-item:focus i {
	color:rgba(255,60,60,1);
	text-shadow:0 0 1vw rgba(255,50,50,1);
}

.setting-item:focus .custom-select {
	background:rgba(255,50,50,0.5);
}

.custom-select {
	background:rgba(255,255,255,0.05);
	width:80%;
	height:2.5vw;
	line-height:2.5vw;
	color: white;
	font-size: 0.8vw;
	font-family:Bebas Nue;
	border: none;
	outline:none;
	text-align:left;
	position:relative;
	border-radius:0.5vw;
	cursor: pointer;
	transition:0.3s;
	float:left;
}

.custom-select select {
	display: none;
}

.select-selected {
	/* background:rgba(255,50,50,1); */
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 50%;
	right: 1vw;
	width: 0;
	height: 0;
	transform:translate(0,-50%);
	border: 0.3vw solid transparent;
	border-radius:0.8vw;
	border-color: rgba(255,255,255,1) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent rgba(255,255,255,1) transparent;
	top: 40%;
}

.select-items div, .select-selected {
	border-radius:0.5vw;
	color:rgba(255,255,255,1);
	height:2.5vw;
	line-height:2.5vw;
	padding:0 5% 0 10%;
	cursor: pointer;
	user-select: none;
	transition:0.2s;
}

.select-items {
	position: absolute;
	background:rgba(38,40,42,1);
	border-radius:0.5vw;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow:0 0 1.5vw rgba(0,0,0,0.5);
}

.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background:url('../images/arrow.png') 0.5vw 50% no-repeat, rgba(255,255,255,0.05);
	background-size:0.6vw;
	padding-left:1.5vw;
}

.message-time, .font-size {
	width:70%;
	margin-top:0.5vw;
	margin-left:0.2vw;
	float:left;
}

.message-time span, .font-size span {
	margin-left:0.2vw;
}

.bubble-message {
	color:rgba(50,255,120,1);
	text-shadow:0 0 1vw rgba(50,255,50,1);
}

.bubble-fontsize {
	color:rgba(255,60,60,1);
	text-shadow:0 0 1vw rgba(255,50,50,1);
}

.strain-range-message, .strain-range-fontsize {
	-webkit-appearance: none;
	width: 75%;
	height: 0.25vw;
	background:rgba(255,255,255,0.1);
	border-radius:1vw;
	outline: none;
	padding:0;
	border:1px solid rgba(255,255,255,0.05);
	transition: 0.3s;
}

.strain-range-message::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0.7vw;
	height: 0.7vw;
	background: rgba(50,255,120,1);
	box-shadow:0 0 1vw rgba(50,255,50,1);
	cursor: pointer;
	border-radius:50%;
}


.strain-range-fontsize::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 0.7vw;
	height: 0.7vw;
	background: rgba(255,60,60,1);
	box-shadow:0 0 1vw rgba(255,50,50,1);
	cursor: pointer;
	border-radius:50%;
}

.btn-save {
	margin:5% 25%;
	width:50%;
	height:2.5vw;
	border:none;
	outline:none;
	font-family:Bebas Nue;
	color:rgba(255,255,255,1);
	font-size:0.8vw;
	border-radius:0.5vw;
	background:rgba(50,200,100,1);
	cursor:pointer;
	transition:0.3s;
}

.btn-save:hover {
	transform:scale(0.95);
	box-shadow:0 0 1vw rgba(50,255,100,0.4);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
	background-color: none;
	border: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 10px;
	background-color: #101010;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	background-color: #ce0c03;
	border: 2px solid #ce0c03;
}



.reset-size {
    position:absolute;
    bottom:1vw;
	display: none;
    right:1vw;
    width:2.8vw;
    height:2.8vw;
    background:rgba(210,30,30,1);
    border:none;
    font-size:0.5vw;
    font-family:Bebas Nue;
    color:rgba(255,255,255,1);
    text-shadow:0 0 0.5vw rgba(0,0,0,0.5);
    outline:none;
    padding-bottom:0.5vw;
    cursor:pointer;
    transition:0.2s;
}
.reset-size:hover {background:rgba(255,50,50,1);box-shadow:0 0 2vw rgba(255,0,0,0.5);}
.reset-size i {font-size:0.8vw;margin-bottom:0.2vw;}